/* submenu admin */

#content table.index .node .title {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	color: #000;
	}
#content table.index .page .title {
  font-size: 14px;
  }
#content table.index .node .title a {
  color: #000;
  text-decoration: none;
  }

#content table.index .node {
	font-weight: bold;
	}

#readers {
	list-style-type: none;
	padding: 0 0 1em;
	float: left;
	}
#readers li {
	float: left;
	margin: 0 8px 8px 0;
	}
#readers li a {
	padding: 3px 5px;
	}
#readers li.current a, #readers li a:hover {
	background: #d8d4bf;
	color: #7d796c;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
#readers li.current a {
	font-weight: bold;
	}

#comments {
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #aaa;
  }
#comments li {
  padding: 1em 0;
  margin: 0;
  border-bottom: 1px solid #aaa;
  }

#comments li .date {
  font-size: 0.85em;
  color: #666;
  }