%h1= "Files for #{@reader.name}"

- unless @reader.nil?
  %ul#downloads.folders
    - if @folders.empty?
      %li.alert
        No files have been uploaded yet.
    - else
      = render :partial => 'folder', :collection => @folders
  %p#logout
    = link_to( 'Log Out', reader_logout_url )
    
- else
  %p.alert
    You must be logged in to view files.